/*
全てのページに影響するCSSに関して記述しているファイル
phpで作成したpartsごとのファイルを作成する様にする
*/

@import url("https://use.typekit.net/nlr0jxr.css");

@import "./app.scss";

html {
  font-weight: 500;
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, '.SFNSDisplay-Regular', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Helvetica, '游ゴシック  Medium', meiryo, sans-serif;
  font-size: 15px;
  line-height: 2em;
  color: var(--color-font-default);
  background-color: var(--color-bg-default);
}

//  --------------------
//  Font
//  --------------------
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
button,
select,
a,
li {
  font-weight: 500;
  font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, '.SFNSDisplay-Regular', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Helvetica, '游ゴシック  Medium', meiryo, sans-serif;
  font-size: 1rem;
  line-height: 2em;
  color: var(--color-font-default);

  &.font-proxima-nova {
    font-family: "proxima-nova", 'Noto Sans JP', -apple-system, BlinkMacSystemFont, '.SFNSDisplay-Regular', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Helvetica, '游ゴシック  Medium', meiryo, sans-serif;
  }

  &.semi-bold {
    font-weight: 600;
  }

  &.bold {
    font-weight: 700;
  }

  &.extra-bold {
    font-weight: 800;
  }

  &.gray {
    color: var(--color-font-gray);
  }

  &.gray-light {
    color: var(--color-font-gray-light);
  }

  &.gray-dark {
    color: var(--color-font-gray-dark);
  }

  &.white {
    color: var(--color-font-white);
  }

  &.navy {
    color: var(--color-font-navy);
  }

  &.right {
    text-align: right;
  }

  &.left {
    text-align: left;
  }

  &.justify {
    text-align: justify;
  }

  &.center {
    text-align: center;
  }

  &.underline {
    text-decoration: underline;
  }
}

//  --------------------
//  Items
//  --------------------
//
// Section
header,
footer,
section,
.section {
  position: relative;
  width: 100%;
  padding: 0 40px;

  @include mq(md) {
    padding: 0 16px;
  }

  > .bg {
    position: absolute;
    z-index: -1;

    &.bg-cover {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.bg-center {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      width: 100%;
      height: 100%;
    }

    &.bg-hidden {
      overflow: hidden;
    }
  }

  > .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;

    @include mq(md) {
      max-width: 640px;
    }

    &.narrow {
      max-width: 996px;

      @include mq(md) {
        max-width: 640px;
      }
    }

    &.wide {
      max-width: 1200px;

      @include mq(md) {
        max-width: 640px;
      }
    }
  }

  &.wide {
    padding: 0 26px;

    @include mq(md) {
      padding: 0 40px;
    }

    > .container {
      //max-width: 1110px;
    }
  }

  &.no-max {
    padding: 0;

    > .container {
      max-width: none;
    }
  }
}

// Image
img,
svg,
video {
  display: block;
  width: 100%;
  height: 100%;
}

//  --------------------
//  Show or Hide
//  --------------------
.is-md {
  display: none;

  @include mq(md) {
    display: inherit;
  }
}

.is-no-md {
  display: inherit;

  @include mq(md) {
    display: none;
  }
}

.is-sm {
  display: none;

  @include mq(sm) {
    display: block;
  }
}

.is-no-sm {
  display: block;

  @include mq(sm) {
    display: none;
  }
}

.is-xs {
  display: none;

  @include mq(xs) {
    display: block;
  }
}

.is-no-xs {
  display: block;

  @include mq(xs) {
    display: none;
  }
}

//  --------------------
//  Options
//  --------------------
.none {
  display: none !important;
}

.event-none {
  pointer-events: none;
}

.inline-block {
  display: inline-block;
}

@import "./parts/parts_header.scss";
@import "./parts/parts_footer.scss";
