$color-black: #000000;
$color-white: #ffffff;

$color-primary-main: $color-black;

$color-text-primary: $color-black;
$color-text-secondary: #afafaf;
$color-text-white: $color-white;

$color-bg-main: $color-white;
$color-bg-black: $color-black;
$color-bg-black-opacity: rgba($color-black, 0.85);

$color-other-divider: $color-black;
$color-other-divider-light: #c4c4c4;
$color-other-dot: #d6d6d6;
